<div class="alert alert-block alert-info">
<span style="color: rgb(0,53,91);">
<center><img src="https://www.redage.org/sites/default/files/styles/large/public/img-logo-institucion/logo_iteso.jpg?itok=IzloBJS1" style="width:500px;height:142px;" title="Logo ITESO"></center>

<font face = "Times New Roman" size = "6"><b><center>Programacion para Mineria de Datos</center></b></font>
<font face = "Times New Roman" size = "5"><b><center>Data Clean</center></b></font>

<font face = "Times New Roman" size = "5"><b><center>Proyecto Final</center></b></font>
<div align="right"><font face = "Times New Roman" size = "2">nombres: Angel Aceves Manzo</font></div>
<div align="right"><font face = "Times New Roman" size = "2"> Jorge Arturo Ponce Martin</font></div>
<div align="right"><font face = "Times New Roman" size = "2"> Jesus Vargas Pacheco</font></div>
</span></div>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Cargar dataset sucio

df_original = pd.read_csv("../data_Proyecto/ecommerce_customer_behavior_dataset_Dirty.csv")
df = df_original.copy()

print("Shape inicial:", df.shape)
df.head()

Shape inicial: (5050, 18)

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_003373,CUST_03373,2024-02-29,52.0,Male,Ankara,Home & Garden,316.01,1.0,0.00,316.01,Credit Card,Mobile,23.0,11.0,True,3,1.0
1,ORD_004756,CUST_04756,2023-03-06,38.0,Female,Bursa,Books,20.37,2.0,4.56,36.18,Debit Card,Desktop,8.0,8.0,False,2,2.0
2,ORD_003274,CUST_03274,2023-01-08,43.0,Female,Adana,Electronics,484.14,2.0,0.00,968.28,Debit Card,Mobile,14.0,4.0,False,3,NaN
3,ORD_001874,CUST_01874,2023-11-08,44.0,Male,Konya,Electronics,4111.84,1.0,842.95,3268.89,Cash on Delivery,Mobile,10.0,14.0,True,2,5.0
4,ORD_000411,CUST_00411,2024-03-11,43.0,Female,Istanbul,Toys,111.68,NaN,32.03,303.01,Digital Wallet,Desktop,10.0,16.0,True,11,5.0

In [2]:
# Datos faltantes

faltantes = df.isna().sum().sort_values(ascending=False)
porcentaje = (df.isna().mean()*100).round(2)

print("\n--- Valores faltantes por columna ---\n")
print(pd.DataFrame({"faltantes": faltantes, "porcentaje_%": porcentaje}))

# Eliminamos SOLO filas completamente vacías (si existieran)
df.dropna(how="all", inplace=True)

print("\nShape después de eliminar filas vacías:", df.shape)

--- Valores faltantes por columna ---

                          faltantes  porcentaje_%
Age                             246          4.87
City                              0          0.00
Customer_ID                       0          0.00
Customer_Rating                 265          5.25
Date                              0          0.00
Delivery_Time_Days                0          0.00
Device_Type                       0          0.00
Discount_Amount                 258          5.11
Gender                            0          0.00
Is_Returning_Customer             0          0.00
Order_ID                          0          0.00
Pages_Viewed                    257          5.09
Payment_Method                    0          0.00
Product_Category                  0          0.00
Quantity                        226          4.48
Session_Duration_Minutes        264          5.23
Total_Amount                      0          0.00
Unit_Price                      272          5.39

Shape después de eliminar filas vacías: (5050, 18)

In [3]:
# Columnas

columnas_categoricas = df.select_dtypes(include="object").columns
columnas_numericas   = df.select_dtypes(exclude="object").columns

print("\nColumnas categóricas:", list(columnas_categoricas))
print("Columnas numéricas:", list(columnas_numericas))

Columnas categóricas: ['Order_ID', 'Customer_ID', 'Date', 'Gender', 'City', 'Product_Category', 'Payment_Method', 'Device_Type']
Columnas numéricas: ['Age', 'Unit_Price', 'Quantity', 'Discount_Amount', 'Total_Amount', 'Session_Duration_Minutes', 'Pages_Viewed', 'Is_Returning_Customer', 'Delivery_Time_Days', 'Customer_Rating']

In [4]:
# Filas repetidas

duplicados = df[df.duplicated(keep=False)]
print("\n--- Filas duplicadas detectadas ---")
print(duplicados.head())

print(f"\nRegistros duplicados: {df.duplicated().sum()}")
df.drop_duplicates(inplace=True)
print("Shape después de eliminar duplicados:", df.shape)

--- Filas duplicadas detectadas ---
      Order_ID Customer_ID        Date   Age  Gender       City  \
2   ORD_003274  CUST_03274  2023-01-08  43.0  Female      Adana
5   ORD_001484  CUST_01484  2023-02-08  30.0  Female      Izmir
7   ORD_004793  CUST_04793  2023-03-01   NaN    Male      Konya
51  ORD_001131  CUST_01131  2023-05-21  38.0  Female   Istanbul
53  ORD_000601  CUST_00601  2023-01-13  44.0    Male  Gaziantep

   Product_Category  Unit_Price  Quantity  Discount_Amount  Total_Amount  \
2       Electronics      484.14       2.0             0.00        968.28
5     Home & Garden      996.79       1.0             0.00        996.79
7           Fashion       84.68       4.0            14.84        323.88
51             Food       19.44       4.0             0.00         77.76
53      Electronics      952.19       1.0             0.00        952.19

      Payment_Method Device_Type  Session_Duration_Minutes  Pages_Viewed  \
2         Debit Card      Mobile                      14.0           4.0
5        Credit Card      Mobile                       5.0           9.0
7        Credit Card      Mobile                      16.0          11.0
51  Cash on Delivery     Desktop                      10.0           5.0
53        Debit Card      Mobile                      33.0           8.0

    Is_Returning_Customer  Delivery_Time_Days  Customer_Rating
2                   False                   3              NaN
5                    True                   8              5.0
7                    True                   9              4.0
51                  False                   5              4.0
53                   True                   3              2.0

Registros duplicados: 50
Shape después de eliminar duplicados: (5000, 18)

In [5]:
# Errores tipográficos y uniformización

# Convertir todas las categorías a minúsculas para uniformar
for col in columnas_categoricas:
    df[col] = df[col].astype(str).str.lower()

for col in columnas_categoricas:
    df[col] = df[col].str.strip()


# Revisión
print("\n--- Categorías unificadas (primeras columnas) ---\n")
for col in columnas_categoricas[:5]:
    print(col, df[col].unique(), "\n")

--- Categorías unificadas (primeras columnas) ---

Order_ID ['ord_003373' 'ord_004756' 'ord_003274' ... 'ord_001397' 'ord_003738'
 'ord_002837']

Customer_ID ['cust_03373' 'cust_04756' 'cust_03274' ... 'cust_01397' 'cust_03738'
 'cust_02837']

Date ['2024-02-29' '2023-03-06' '2023-01-08' '2023-11-08' '2024-03-11'
 '2023-02-08' '2023-05-15' '2023-03-01' '2023-09-16' '2023-06-10'
 '2023-09-27' '2023-07-10' '2023-11-01' '2023-02-20' '2024-01-23'
 '2023-03-18' '2023-04-25' '2023-01-21' '2023-09-09' '2023-06-13'
 '2024-03-20' '2023-02-16' '2024-02-24' '2023-01-04' '2023-10-03'
 '2023-11-26' '2023-01-09' '2023-05-07' '2023-02-24' '2023-04-23'
 '2023-05-20' '2023-02-17' '2024-01-05' '2023-04-20' '2023-12-05'
 '2024-01-18' '2023-10-22' '2023-04-28' '2024-02-16' '2024-01-21'
 '2023-02-28' '2023-06-01' '2023-01-23' '2023-11-25' '2023-07-04'
 '2023-08-03' '2023-10-23' '2023-06-25' '2023-03-12' '2023-03-15'
 '2023-05-21' '2023-01-13' '2023-09-29' '2023-03-19' '2023-12-25'
 '2023-03-07' '2024-01-10' '2023-10-16' '2024-03-07' '2023-01-25'
 '2023-10-31' '2023-07-28' '2023-12-15' '2023-10-12' '2024-01-12'
 '2023-06-02' '2023-07-14' '2023-12-27' '2023-02-22' '2024-01-15'
 '2023-12-02' '2023-01-30' '2023-01-18' '2024-01-06' '2024-02-06'
 '2023-06-03' '2023-10-14' '2023-06-21' '2023-11-13' '2023-03-09'
 '2023-01-10' '2023-08-23' '2023-10-18' '2023-09-02' '2023-05-06'
 '2023-12-19' '2023-03-25' '2023-03-05' '2024-02-09' '2023-12-01'
 '2023-02-10' '2023-06-04' '2024-03-26' '2023-09-06' '2023-10-17'
 '2023-01-20' '2023-12-13' '2023-11-12' '2023-08-29' '2023-06-07'
 '2023-09-01' '2023-10-09' '2023-08-20' '2023-09-21' '2024-03-12'
 '2023-07-12' '2023-01-26' '2023-11-22' '2023-12-08' '2023-07-06'
 '2023-12-31' '2023-01-31' '2023-01-27' '2023-07-16' '2023-02-07'
 '2023-03-22' '2023-08-01' '2023-12-18' '2024-02-10' '2023-10-01'
 '2023-07-24' '2023-07-23' '2023-05-18' '2023-05-29' '2023-12-23'
 '2023-08-13' '2023-10-10' '2023-03-26' '2024-02-17' '2023-02-25'
 '2023-05-11' '2023-07-25' '2024-01-13' '2023-05-31' '2024-01-22'
 '2023-09-19' '2023-10-26' '2023-02-14' '2023-04-29' '2024-01-17'
 '2023-04-12' '2023-04-08' '2023-06-08' '2024-02-02' '2023-06-11'
 '2023-11-28' '2024-03-10' '2023-05-26' '2023-09-05' '2023-04-15'
 '2023-02-11' '2023-10-13' '2024-01-11' '2024-01-03' '2024-01-27'
 '2024-03-22' '2023-11-23' '2023-08-30' '2023-09-03' '2023-05-05'
 '2024-01-08' '2023-12-26' '2023-09-20' '2023-03-02' '2024-02-03'
 '2023-04-06' '2023-04-19' '2023-12-09' '2023-01-02' '2023-06-23'
 '2023-12-20' '2023-11-29' '2023-01-17' '2023-04-03' '2023-09-07'
 '2023-06-18' '2023-03-20' '2023-07-19' '2023-06-22' '2023-05-14'
 '2023-03-31' '2023-09-08' '2023-02-13' '2023-05-16' '2024-03-05'
 '2024-01-04' '2023-11-04' '2023-08-31' '2023-06-14' '2023-01-12'
 '2023-12-30' '2023-10-29' '2023-04-09' '2023-05-13' '2024-01-14'
 '2023-04-30' '2024-03-03' '2023-08-10' '2023-09-17' '2023-07-11'
 '2023-06-09' '2024-01-19' '2023-11-02' '2023-05-03' '2023-11-24'
 '2023-11-14' '2024-02-19' '2023-03-27' '2023-04-22' '2023-10-15'
 '2023-08-26' '2023-11-06' '2024-01-25' '2023-08-09' '2024-01-01'
 '2023-10-04' '2023-03-10' '2023-12-22' '2023-12-16' '2024-02-18'
 '2024-01-20' '2024-03-01' '2023-02-04' '2023-11-10' '2023-05-04'
 '2023-08-27' '2023-04-18' '2023-01-11' '2023-05-25' '2024-01-29'
 '2023-12-07' '2023-09-22' '2024-01-07' '2023-07-21' '2024-01-26'
 '2023-04-14' '2023-03-11' '2024-03-18' '2023-09-18' '2023-11-18'
 '2023-01-16' '2023-11-27' '2023-10-24' '2023-12-21' '2023-10-11'
 '2023-08-12' '2024-03-24' '2023-11-20' '2024-03-17' '2023-12-04'
 '2023-07-31' '2023-03-08' '2024-02-08' '2024-02-14' '2023-10-02'
 '2023-07-15' '2024-03-02' '2023-08-06' '2023-05-24' '2023-07-18'
 '2024-03-21' '2023-04-10' '2024-02-26' '2023-04-27' '2023-02-21'
 '2023-10-28' '2023-02-05' '2023-07-08' '2023-03-16' '2023-04-26'
 '2023-12-29' '2024-03-23' '2023-08-19' '2023-10-19' '2024-01-28'
 '2023-07-29' '2023-06-29' '2023-05-01' '2024-02-28' '2023-02-02'
 '2024-03-19' '2023-06-26' '2023-11-09' '2023-03-23' '2023-07-03'
 '2023-01-14' '2023-08-21' '2023-10-20' '2023-07-17' '2023-07-22'
 '2023-01-24' '2024-02-01' '2024-02-22' '2024-01-09' '2023-09-24'
 '2023-12-28' '2024-02-05' '2024-03-09' '2023-09-23' '2024-03-06'
 '2023-03-04' '2023-06-16' '2023-11-05' '2024-03-16' '2023-07-13'
 '2023-10-05' '2023-01-05' '2023-05-22' '2023-08-24' '2023-12-10'
 '2023-04-05' '2023-04-07' '2023-06-24' '2023-08-08' '2023-04-24'
 '2023-08-14' '2023-08-05' '2023-07-09' '2024-03-25' '2024-01-24'
 '2023-08-11' '2023-04-13' '2023-03-03' '2023-03-14' '2023-03-29'
 '2023-06-28' '2023-05-02' '2023-03-28' '2023-11-17' '2024-01-31'
 '2023-08-25' '2024-03-13' '2023-12-06' '2023-08-04' '2024-03-04'
 '2023-11-30' '2024-02-23' '2023-07-07' '2023-07-26' '2023-10-06'
 '2023-06-19' '2023-05-08' '2023-09-13' '2023-09-15' '2023-11-21'
 '2023-01-06' '2023-12-24' '2023-02-12' '2023-01-22' '2023-10-07'
 '2023-07-30' '2024-02-04' '2024-02-20' '2023-08-17' '2023-09-12'
 '2024-03-08' '2023-03-13' '2023-01-15' '2023-12-03' '2023-12-11'
 '2024-01-16' '2023-05-17' '2023-02-26' '2023-05-27' '2023-01-29'
 '2023-07-27' '2023-02-19' '2023-12-14' '2023-04-17' '2023-09-10'
 '2023-03-24' '2023-05-09' '2023-06-30' '2023-09-26' '2023-08-15'
 '2023-09-11' '2023-06-17' '2024-02-21' '2023-02-01' '2023-01-03'
 '2023-05-30' '2023-04-21' '2023-11-15' '2023-09-14' '2023-08-02'
 '2023-11-07' '2023-02-18' '2023-11-11' '2023-05-12' '2023-05-28'
 '2023-06-27' '2023-02-23' '2023-07-01' '2023-10-27' '2023-12-12'
 '2024-02-07' '2023-06-20' '2024-03-14' '2023-01-19' '2023-05-23'
 '2024-02-15' '2023-04-16' '2024-02-25' '2023-08-28' '2023-02-09'
 '2023-07-20' '2024-02-11' '2023-03-30' '2023-06-05' '2023-07-05'
 '2023-02-03' '2023-10-08' '2023-05-19' '2023-09-25' '2023-03-21'
 '2023-12-17' '2023-10-30' '2023-02-06' '2023-05-10' '2023-10-21'
 '2023-02-27' '2023-04-11' '2023-11-03' '2023-08-16' '2024-02-27'
 '2023-09-28' '2023-03-17' '2023-04-02' '2023-11-19' '2024-03-15'
 '2023-06-12' '2023-08-18' '2023-01-28' '2023-01-07' '2023-10-25'
 '2024-02-12' '2024-01-30' '2023-08-07' '2023-09-30' '2023-04-04'
 '2023-11-16' '2023-01-01' '2023-06-06' '2024-02-13' '2023-06-15'
 '2023-08-22' '2023-04-01' '2024-01-02' '2023-07-02' '2023-02-15'
 '2023-09-04']

Gender ['male' 'female' 'other']

City ['ankara' 'bursa' 'adana' 'konya' 'istanbul' 'izmir' 'gaziantep' 'antalya'
 'eskisehir' 'kayseri']

In [6]:
# Guardar dataset limpio

df.to_csv("ecommerce_customer_behavior_Clean.csv", index=False)
print("\nArchivo guardado como ecommerce_customer_behavior_Clean.csv")
print("Shape final:", df.shape)

Archivo guardado como ecommerce_customer_behavior_Clean.csv
Shape final: (5000, 18)