<div class="alert alert-block alert-info">
<span style="color: rgb(0,53,91);">
<center><img src="https://www.redage.org/sites/default/files/styles/large/public/img-logo-institucion/logo_iteso.jpg?itok=IzloBJS1" style="width:500px;height:142px;" title="Logo ITESO"></center>

<font face = "Times New Roman" size = "6"><b><center>Programacion para Mineria de Datos</center></b></font>
<font face = "Times New Roman" size = "5"><b><center>Comparison</center></b></font>

<b><font back = "Times New Roman" size = "4"><center>Examen Parcial 3</center></font>
<div align="right"><font face = "Times New Roman" size = "2">nombres: Angel Aceves Manzo</font></div>
<div align="right"><font face = "Times New Roman" size = "2"> Jorge Arturo Ponce Martin</font></div>
<div align="right"><font face = "Times New Roman" size = "2"> Jesus Vargas Pacheco</font></div>
</span></div>

In [5]:
import pandas as pd
import numpy as np

In [2]:
# Archivo subido en esta sesión
precios_reales_path = "./data/Saratoga_Precios_Reales.txt"

precios_reales = pd.read_csv(
    precios_reales_path,
    header=None,
    names=["Precio_Real"]
)

precios_reales

   Precio_Real
0       183500
1       275900
2       436023
3       319900
4       249000
5       289000
6       285000
7       194900
8       125000
9       111300

In [3]:
pred_path = "./04_regularization/Regresion_ganadora_nuevos_predicciones.csv"

predicciones = pd.read_csv(pred_path)

# Asegurar que existe yhat
if "yhat" not in predicciones.columns:
    raise ValueError("ERROR: El archivo no contiene columna 'yhat'.")

predicciones.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,heating___electric,heating___hot air,...,sewer___none,sewer___public/commercial,sewer___septic,waterfront___No,waterfront___Yes,newConstruction___No,newConstruction___Yes,centralAir___No,centralAir___Yes,yhat
0,-1.905764,0.266144,1.022320,0.168308,-0.258120,-0.460221,0.535150,0.658734,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,136239.111337
1,1.159719,-0.761804,-0.909746,0.376705,-0.876126,-0.042257,0.401184,-0.496953,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,204782.947233
2,2.898206,-0.079321,-0.177984,-0.608690,-0.464261,-0.411519,-0.478531,-0.768703,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,321167.044559
3,1.737947,0.421540,0.292222,-0.020164,-0.664596,0.260617,0.535103,0.279524,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,247801.554997
4,1.872174,-0.081409,0.664935,0.486500,-0.750387,1.817104,-0.407539,0.576972,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,244522.055172

In [4]:
n = min(len(precios_reales), len(predicciones))

df_comp = pd.DataFrame({
    "Precio_Real": precios_reales["Precio_Real"][:n],
    "Prediccion": predicciones["yhat"][:n]
})

df_comp["Error_Absoluto"] = abs(df_comp["Precio_Real"] - df_comp["Prediccion"])
df_comp["Error_Relativo_%"] = 100 * df_comp["Error_Absoluto"] / df_comp["Precio_Real"]

df_comp

   Precio_Real     Prediccion  Error_Absoluto  Error_Relativo_%
0       183500  136239.111337    47260.888663         25.755253
1       275900  204782.947233    71117.052767         25.776387
2       436023  321167.044559   114855.955441         26.341719
3       319900  247801.554997    72098.445003         22.537807
4       249000  244522.055172     4477.944828          1.798371
5       289000  250297.198859    38702.801141         13.391973
6       285000  280426.062994     4573.937006          1.604890
7       194900  116240.127934    78659.872066         40.359093
8       125000  143030.885672    18030.885672         14.424709
9       111300  164235.018290    52935.018290         47.560663

In [5]:
MAE = df_comp["Error_Absoluto"].mean()
RMSE = np.sqrt((df_comp["Error_Absoluto"]**2).mean())
MAPE = df_comp["Error_Relativo_%"].mean()

print("=== MÉTRICAS FINALES DEL MODELO ===")
print(f"MAE  : {MAE:,.2f}")
print(f"RMSE : {RMSE:,.2f}")
print(f"MAPE : {MAPE:.2f}%")

=== MÉTRICAS FINALES DEL MODELO ===
MAE  : 50,271.28
RMSE : 60,444.01
MAPE : 21.96%

In [6]:
df_comp.to_csv("Comparacion_Final_Modelo_vs_Reales.csv", index=False)
print("Archivo guardado: Comparacion_Final_Modelo_vs_Reales.csv")

Archivo guardado: Comparacion_Final_Modelo_vs_Reales.csv

In [1]:
import joblib
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Cargar modelo ganador
modelo = joblib.load("./04_regularization/reg_lin_ganador/reg_lin_ganador_bundle/modelo_elasticnet.pkl")

# Cargar datos
Train = pd.read_csv("./01_preprocessing_results/preprocessing/T_train_final_objetivo.csv")
Test = pd.read_csv("./01_preprocessing_results/preprocessing/T_test_final_objetivo.csv")

X_train = Train.iloc[:, :-1]
y_train = Train.iloc[:, -1]

X_test = Test.iloc[:, :-1]
y_test = Test.iloc[:, -1]

# Predicciones
yhat_train = modelo.predict(X_train)
yhat_test = modelo.predict(X_test)

# Métricas Train
MAE_train = mean_absolute_error(y_train, yhat_train)
RMSE_train = np.sqrt(mean_squared_error(y_train, yhat_train))
R2_train = r2_score(y_train, yhat_train)

# Métricas Test
MAE_test = mean_absolute_error(y_test, yhat_test)
RMSE_test = np.sqrt(mean_squared_error(y_test, yhat_test))
R2_test = r2_score(y_test, yhat_test)

print("=== MÉTRICAS ENTRENAMIENTO ===")
print(f"MAE_train  = {MAE_train:,.2f}")
print(f"RMSE_train = {RMSE_train:,.2f}")
print(f"R2_train   = {R2_train:.4f}")

print("\n=== MÉTRICAS PRUEBA ===")
print(f"MAE_test  = {MAE_test:,.2f}")
print(f"RMSE_test = {RMSE_test:,.2f}")
print(f"R2_test   = {R2_test:.4f}")

=== MÉTRICAS ENTRENAMIENTO ===
MAE_train  = 42,829.04
RMSE_train = 60,749.77
R2_train   = 0.6397

=== MÉTRICAS PRUEBA ===
MAE_test  = 40,053.03
RMSE_test = 53,607.81
R2_test   = 0.6402